$colors: (
  red: #db2828,
  orange: #f2711c,
  green: #21ba45,
  teal: #00b5ad,
  blue: #2185d0,
);

.modal-contain {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal {
  // position: absolute;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 543px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  &__iconsContainer {
    position: absolute;
    top: 17%;
    right: 31%;

    display: flex;
    width: 70px;
    justify-content: space-around;
    .icon {
      cursor: pointer;
    }
  }

  &__body {
    .modal__head {
      display: flex;
      align-items: flex-end;
      h2 {
        margin: 0 20px 0 0;
      }
    }

    .divider {
      border-top: 1px solid #9eec61;
    }
    .events__dates {
      display: flex;
      justify-content: space-between;
    }

    .events__dates,
    .events__participants,
    .events__description {
      margin: 10px 0;
    }
  }
}

.text {
  font-family: Lato;
  font-style: normal;
  color: #000000;

  &__primary {
    font-weight: bold;
    font-size: 18px;
  }

  &__secondary {
    font-weight: 300;
    font-size: 18px;
  }

  &__list {
    background: #f7ffc6;
    border-radius: 2px;

    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 0 5px;
  }
}

.modal__form {
  input {
    display: block;

    width: 507px;
    height: 42px;

    margin: 5px 0;
    padding: 0 5px;

    border: 1.5px solid #dadada;
    box-sizing: border-box;
    border-radius: 10px;

    font-size: 18px;
  }

  input:focus {
    outline: none;
    border: none;
    border-radius: 2px;
    border: 1.5px solid #fff;
    border-bottom: 2px solid red;
  }
}

.colorbox {
  input[type='radio'] {
    display: none;
    &:checked + label {
      span {
        transform: scale(1.25);
      }
      @each $name, $value in $colors {
        .#{$name} {
          border: 2px solid darken($value, 25%);
        }
      } // !@each
    } // !&:checked + label
  }

  label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    cursor: pointer;
    &:hover {
      span {
        transform: scale(1.25);
        border: 2px solid #787878;
      }
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      transition: transform 0.2s ease-in-out;
      @each $name, $value in $colors {
        &.#{$name} {
          background: $value;
        }
      }
    }
  }
}

.hide {
  visibility: hidden;
}
